main {
    background: #ddd;
    
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  /* nav */
  nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #555;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  nav ul {
    padding: 10px;
    transition: .4s;
  }
  nav ul:hover {
    background-color: #333;
  }
  nav ul li {
    list-style-type: none;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    transition: .4s;
  }
  nav ul li a:hover {
    color: #ccc;
  }
  /* nav */
  
  /* main */
  header h1{
    padding-top: 80px;
    text-align: center;
  }
  header p {
    text-align: center;
    margin: 15px 0 30px 0;
  }
  div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  figure {
    width: 50%;
    background-color: white;
    padding: 10px;
    justify-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  figure img {
    
    max-width: 100%;
    filter: grayscale(90%);
    display: block;
  }
  figure figcaption {
    text-align: center;
    padding: 5px;
  }
  
  section {
    background-color: #eee;
  }
  section h3 {
    text-align: center;
    padding: 30px 10px 10px 10px;
    color: #222;
  }
  section ul {
    margin: 15px 10vw;
    list-style-type: none;
  }
  blockquote {
    margin-top: 60px;
    margin-bottom: 10px;
  }
  blockquote p {
    text-align: center;
  }
  blockquote cite {
    text-align: center;
  }
  section h3 a {
    text-decoration: none;
  }
  /* main */